body {
font: 15px/1.5 Arial, Helvetica, sans-serif;
margin: 0;
background: #f4f4f4;

}

ul {
margin: 0;
padding: 0;
}

.container{
width: 80%;
margin: auto;
overflow: hidden;
}

/*header*/
header {
background: #45324a;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #99004f 4px solid;
position: sticky;
top: 0;
z-index: 33;
opacity: 90%;
}

header a {
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}


header li {
float: left;
display: inline;
padding: 0 20px 0 20px;
}

#branding {
float: left;
}

#branding h1{
margin: 0;
}

header nav {
float: right;
margin-top: 11px;
}

.highlight {
color: #99004f;
font-weight: bold;
}

header a:hover{
color: #99004f;
font-weight:bold;
opacity: 78%;
}

/*SHOWCASE*/

#showcase {
min-height: 400px;
display: block;

text-align: center;
color: #99004f;
text-shadow: c>JSCB aliceblue;
background-size: cover;
background-image: url("https://www.michaeluloth.com/static/a1f31faea14c7e96931ff44cbc8fd140/971c4/clement-h-544786-unsplash.jpg");
background-position: 44% 65%;
opacity: 77%;
}

#showcase h1{
margin-top: 100px;
font-size: 55px;
margin-bottom: 10px;
}

#showcase p{
font-size: 20px;
}


#newsletter {
padding: 15px;
color: white;
background: #35424a;
}

#newsletter h1 {
float: left;
}

#newsletter form {
float: right;
margin-top: 25px;

}
#newsletter input {
padding: 4px;
height: 25px;
width:250px;
}

#newsletter button {
padding: 4px;
height: 35px;
width: 100px;
background: #99004f;
border: 3px #35424a solid;
}
 
#newsletter button:hover {
background: grey;
color: orange;
border: none;
font-weight: bold;
}
 
#boxes {
margin-top: 100px;
}
 
.box {
float:left;
  text-align: center;
  width:30%;
  padding: 10px;

}
 
.box img {
width: 100px;
}
footer {
padding: 20px
margin-top: 20px;
color: #ffffff;
background-color: red;
text-align: center;
}
 /*sidebar*/

#sidebar {
float:right;
width:30%;
margin-top: 62px;
background: #35424a;
padding: 0 3px 0 10px;
text-align: justify;
}

#sidebar .quote input, #sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}
.main {
  margin: 100px;
}

#main-col {
float: left;
width: 65%;
}

.dark {
  padding-bottom: 10px;
  color: azure;
}

/*services*/

#services li {
list-style: none;
  padding: 20px;
  border: #cccccc solid 3px;
  margin-bottom: 5px;
  background: #e6e6e6;  
}

#main-col h3 {
  color: #33001a
}

footer {
  background: #99004f
}
 

